.alert-notification{
    margin: 20px;
}

.formDeleteButton{
    display: inline-block;
}
.deleteForm{
    display: inline-block;
}
.logoText{
    color: #ffffff;
}
.addNewService {
    margin-bottom: 10px;
}